<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account History</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black m-10">
    <div id="graph"></div>

    <h1 class="text-white my-6 text-2xl">Positions</h1>
    
    <script type="text/javascript">
        var graph = {{ graphJSON | tojson }};

        var graphData = JSON.parse(graph);

        console.log(graphData)

        Plotly.react('graph', graphData.data, graphData.layout, {responsive: true});
    </script>
</body>
</html>
