<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account History</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Account History Graph</h1>
    <div id="graph"></div>
    
    <script type="text/javascript">
        var graph = {{ graphJSON | tojson }};

        console.log(graph)
        // var graphData = JSON.parse(graphJSON);

        Plotly.react('graph', graph.data, graph.layout, {responsive: true});
    </script>
</body>
</html>
